    <%- include("header.ejs") %> 

    
<div class="mainData">
   <% articleObj.forEach(function(article){ %>
    <div class="content">
        <!-- <img class="images" src="images/1.jpg" alt=""> -->
        <h3 class="headline"><%= article.title %></h3>
        <p class="detail"><%= article.content %></p>

    </div>
 <%  }) %>

    
</div>

<%- include("footer.ejs") %> 