<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reader's Point</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900|Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/8743e0e10a.js"></script>
</head>

<body>
  
    <div class="row">
      <nav class="navbar navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Reader's Point</a>
        </nav>
    </div>   
    
        
    <div class="container bodyBlock">
        <div class="row">
            <% articleObj.forEach(function(article){ %>
               <% if(article.username===user){ %>

                    <div class="col-md-4 col-lg-4 col-sm-12 articleBlock">
                        <h2><%= article.title %></h2>
                        <p><%= article.content %></p>
                        <p><a class="btn btn-secondary" href="/post/<%= article._id %>" role="button">Read more &raquo;</a></p>
                      </div>
              <%  } %>
                
            <%  }) %>
        </div>
      </div>

    
        
<%- include("footer.ejs") %> 