html, body {
  height: 100%;
  align-content: center;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.links{
    text-decoration: normal;
    color: white;
}


.icons{
    text-align: center;
    padding-top: 3rem;
}



.headline{
    text-align: left;
    margin-left: 2.8rem;
}

.detail{
    text-align: left;
    margin-left: 2.8rem;
}

#newArticle{
    height: 20rem;
    width : 90%;
}

.newHeadline{
    width: 70%;
}

.compositionSection{
    margin-top: 100px;
    padding: 3% 7% 3%;
}

.jumbotron{
    margin-top: 50px;
}

.articleBlock{
    padding: 3%;
}

.bodyBlock{
  margin-top: 10%;
  
}


.row{
    align-content: center;
}


  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  
  .loginInfo{
    text-align: center;
    position: absolute;
    margin: 0 auto 0 auto;
    padding: 2px;
  }

  .loginBtn{
    margin-right: 2%;
  }
  .loginBlock{
    width: 300px;
    position: absolute;
    right: 0;
  }


 